<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">はぐくみ</a>
  <div class="collapse navbar-collapse" id="Navber">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          MENU
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to '会社' , {controller: :companies, action: :index} , id: :link, class: 'dropdown-item' %>
        </div>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
<p id="notice"><%= notice %></p>

<h1><% unless @company.blank? %><%= @company.name %> の社員一覧<%else %>全社員一覧<% end %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>No</th>
      <th>Code</th>
      <th>Organization</th>
      <th>Name</th>
      <th>Birthday</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.no %></td>
        <td><%= user.code %></td>
        <td><%= user.organization %></td>
        <td><%= user.name %></td>
        <td><%= user.birthday %></td>
        <td><%= user.created_at %></td>
        <td><%= user.updated_at %></td>
        <td><%= link_to '2018見積', controller: "user_years", action: "index", users_id: user.id, target_year: '2018' %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
