<p id="notice"><%= notice %></p>

<p>
  <strong>No:</strong>
  <%= @user.no %>
</p>

<p>
  <strong>Code:</strong>
  <%= @user.code %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @user.organization %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @user.birthday %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @user.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @user.updated_at %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
