<p id="notice"><%= notice %></p>
<p>
  <strong>対象年:</strong>
  <%= @user_year.target_year %>
</p>

<p>
  <strong>４月の総支給額:</strong>
  <%= @user_year.april_salary %>
</p>

<p>
  <strong>５月の総支給額:</strong>
  <%= @user_year.may_salary %>
</p>

<p>
  <strong>６月の総支給額:</strong>
  <%= @user_year.june_salary %>
</p>

<p>
  <strong>直近一ヶ月での最低賃金対象給与額:</strong>
  <%= @user_year.nearest_min_salary %>
</p>

<p>
  <strong>年齢算出基準日:</strong>
  <%= @user_year.estimate_age_base_date %>
</p>

<p>
  <strong>年齢:</strong>
  <%= @user_year.age %>
</p>

<p>
  <strong>平均報酬月額:</strong>
  <%= @user_year.average_salary %>
</p>

<p>
  <strong>最賃掛金:</strong>
  <%= @user_year.min_instalment %>
</p>

<p>
  <strong>総支給額20%:</strong>
  <%= @user_year.sum_salary_20percent %>
</p>

<p>
  <strong>上限掛金:</strong>
  <%= @user_year.max_instalment %>
</p>


<%= link_to 'Edit', edit_user_year_path(@user_year) %> |
<%= link_to 'Back', controller: "user_years", action: "index", users_id: @user_year.users_id, target_year: @user_year.target_year %>
<%= link_to '2018シミュレーション', controller: "estimates", action: "index", users_id: @user_year.users_id, target_year: @user_year.target_year %>
