<p id="notice"><%= notice %></p>

<p>
  <strong>Kosei down annual income multiplication:</strong>
  <%= @system.kosei_down_annual_income_multiplication %>
</p>

<p>
  <strong>Resident tax level1 limit:</strong>
  <%= @system.resident_tax_level1_limit %>
</p>

<p>
  <strong>Resident tax level2 limit:</strong>
  <%= @system.resident_tax_level2_limit %>
</p>

<p>
  <strong>Resident tax level2 multiplication:</strong>
  <%= @system.resident_tax_level2_multiplication %>
</p>

<p>
  <strong>Resident tax level2 addition:</strong>
  <%= @system.resident_tax_level2_addition %>
</p>

<p>
  <strong>Resident tax level3 limit:</strong>
  <%= @system.resident_tax_level3_limit %>
</p>

<p>
  <strong>Resident tax level3 multiplication:</strong>
  <%= @system.resident_tax_level3_multiplication %>
</p>

<p>
  <strong>Resident tax level3 addition:</strong>
  <%= @system.resident_tax_level3_addition %>
</p>

<p>
  <strong>Resident tax level4 limit:</strong>
  <%= @system.resident_tax_level4_limit %>
</p>

<p>
  <strong>Resident tax level4 multiplication:</strong>
  <%= @system.resident_tax_level4_multiplication %>
</p>

<p>
  <strong>Resident tax level4 addition:</strong>
  <%= @system.resident_tax_level4_addition %>
</p>

<p>
  <strong>Resident tax level5 limit:</strong>
  <%= @system.resident_tax_level5_limit %>
</p>

<p>
  <strong>Resident tax level5 multiplication:</strong>
  <%= @system.resident_tax_level5_multiplication %>
</p>

<p>
  <strong>Resident tax level5 addition:</strong>
  <%= @system.resident_tax_level5_addition %>
</p>

<%= link_to 'Edit', edit_system_path(@system) %> |
<%= link_to 'Back', systems_path %>
